<phpunit convertWarningsToExceptions="false"
         bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="consoleRunner">
            <directory>./src</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="tests/logs/report" lowUpperBound="35"
             highLowerBound="70"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="coverage-php" target="tests/logs/coverage.serialized"/>
        <log type="coverage-text" target="php://stdout"
             showUncoveredFiles="false"/>
        <log type="json" target="tests/logs/logfile.json"/>
        <log type="tap" target="tests/logs/logfile.tap"/>
        <log type="junit" target="tests/logs/logfile.xml"
             logIncompleteSkipped="false"/>
        <log type="testdox-html" target="tests/logs/testdox.html"/>
        <log type="testdox-text" target="tests/logs/testdox.txt"/>
    </logging>
</phpunit>